name: Deploy infrastructure

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Permission can be added at job level or workflow level    
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ vars.ENV_NAME }}

    steps:
      - name: Print current environment
        run: |
          echo "environment: ${{ vars.ENV_NAME }}"
          
      - name: Clone the repository
        uses: actions/checkout@v4
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.ASSUME_GITHUB_ACTION_ROLE_ARN }}
          role-session-name: GitHubActionSession
          aws-region: ${{ vars.REGION }}  

      - name: Sync infra scripts to S3 bucket
        run: |
          aws s3 sync \
            infra/scripts/ \
            s3://${{ vars.ENV_NAME }}-${{ secrets.CF_TEMPLATES_S3_BUCKET_SUBFIX }}/infra/scripts

      - name: Package CF templates S3 bucket
        run: |
          aws cloudformation package \
            --template-file infra/main.yml \
            --s3-bucket ${{vars.ENV_NAME}}-${{ secrets.CF_TEMPLATES_S3_BUCKET_SUBFIX }} \
            --s3-prefix infra \
            --output-template-file infra/packaged.yml

      - name: Deploy stack to AWS
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: ${{ vars.STACK_NAME_PREFIX }}-infra
          template: infra/packaged.yml
          capabilities: CAPABILITY_NAMED_IAM
          parameter-overrides: >-
            TemplateBucket=${{vars.ENV_NAME}}-${{ secrets.CF_TEMPLATES_S3_BUCKET_SUBFIX }},
            AppDataBucket=${{vars.ENV_NAME}}-${{ secrets.APP_DATA_S3_BUCKET_SUBFIX }},
            KeyName=${{ secrets.KEY_PAIR }}, 
            EKSAdminUserArn=${{ secrets.EKS_ADMIN_USER_ARN }}
          no-fail-on-empty-changeset: "1"
